/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes triangle-move {
	from {
		inset-inline-start: -16px;
	}
	to {
		inset-inline-start: -12px;
	}
}

@keyframes sparks-animation {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes scale-animation {
	from {
		scale: 1;
	}

	to {
		scale: 1.5;
	}
}

.theme-menu__button {
	transition: transform 0.3s ease;
}

.theme-menu__button:hover {
	opacity: 0.6;
}

.theme-menu__button:disabled {
	opacity: 0.6;
	pointer-events: none;
}

.theme-menu__button::after {
	content: '';
	position: absolute;
	background-color: var(--accent-color);
	transform: scaleX(0);
	transform-origin: left center;
	inset-block-end: -3px;
	block-size: 2px;
	inline-size: calc(100% - 6px);
	inset-inline-start: 6px;
}

.theme-menu__button:focus-visible {
	outline: none;
	opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
	transform: scaleX(1);
}

.theme-menu__button:disabled::before {
	content: '▶';
	position: absolute;
	animation: triangle-move infinite ease-in-out 0.5s alternate;
	inset-inline-start: -16px;
}

.card__icon-button {
	transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
	outline: 2px solid var(--accent-color);
	outline-offset: -2px;
}

.primary-button {
  transition: transform 0.5s ease-in-out;
}

.primary-button:hover:after {
	transform: scaleX(1);
}

.primary-button:focus-visible {
	box-shadow: 2px 2px 0 0 var(--accent-color);
	outline: none;
}

.primary-button::after {
	content: '';
	position: absolute;
	background-color: var(--accent-color);
	transform: scaleX(0);
	transform-origin: left center;
	inset-block: 0;
	block-size: 100%;
	inline-size: 100%;
	inset-inline-start: 0;
	transition: transform 0.3s ease;
}

.sparks {
	opacity: 0;
}

.like-icon .core {
	fill: var(--bg-color);
	transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
	fill: var(--accent-color);
	transition: fill 0.3s linear;
}

.like-icon .main-body {
	fill: var(--bg-color);
	transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
	fill: var(--accent-color);
	transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
	fill: var(--like-color);
	transition: fill 0.3s linear;
}

.like-icon:active .main-body {
	fill: var(--like-color);
	transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
	fill: var(--like-color);
	transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
	fill: var(--like-color);
	transition: fill 0.3s 0.05s linear;
}

.like-icon .contour {
	fill: var(--accent-color);
	transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
	fill: var(--like-color);
	transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
	transform-origin: center;
	animation: scale-animation 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
	animation: sparks-animation 0.3s 0.03s ease-in alternate;
}
